 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--

    Copyright (C) 2020 A.RENAUDIN  Developer

    This file is part of exoTICE.

    exoTICE is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    exoTICE is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with exoTICE.  If not, see <https://www.gnu.org/licenses/>.
*/

#body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
a, a:visited, a:link {
  color: black;
  text-decoration: none;
}
h1 {
  text-align: center;
}
#titre img {
  width: 50vw;
}
#expl {
  text-align: end;
  padding-right: 15vw;
  font-size: 2em;
  font-style: italic;
}
h2 {
  padding-left: 5vw;
  font-size: 2em;
}
h2 img, #ss-titre img {
  height: 3em;
  vertical-align: middle;
}
#space {
  flex: 1;
}
#credits {
  text-align: center;
}
#credits img {
  height: 1.2em;
  vertical-align: middle;
}
#forme {
  padding: 2vh;
  background-color: #bdbdbd;
}
#forme td {
  vertical-align: middle;
}
#ss-titre {
  text-align: center;
  font-size: 2em;
  margin: 4vh 0 0 0;
}

.ligne {
  stroke: black;
  stroke-width: 4px;
}
.rond0 {
  fill: rgb(125, 196, 209);
}
.rond1 {
  fill: rgb(255, 159, 75);
}
.rond2 {
  fill: rgb(126, 223, 122);
}
.rond3 {
  fill: rgb(249, 225, 88);
}
.rond4 {
  fill: rgb(255, 71, 226);
}
.rond_reponse {
  fill: rgb(146, 146, 146);
}
.nombre, .op {
  font-family: ex_sans;
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.oprect {
  fill: #f0f0f0;
}
input[type="number"] {
  width : 5em;
}
#prefs_cb {
  display: none;
}
#prefs {
  background-color: #aaaaaa;
}
#prefs form {
  display: none;
}
#prefs_cb:checked + form {
  display: block;
}
#prefs_label {
  font-weight: bold;
  padding-left: 20px;
}
#prefs_gen {
  text-align: center;
}
#quest_div {
  margin-left: 20px;
}
#quest_div svg {
  display: block;
  padding : 10px;
}
#exo {
  display: flex;
  align-items: center;
}


#video_body {
  background-color: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
#video_main {
  flex: 1;
  display: flex;
}
.calcul {
  display: none;
}

#contact {
  height: 1.2em;
  vertical-align: middle;
}