 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--

    Copyright (C) 2020 A.RENAUDIN  Developer

    This file is part of exoTICE.

    exoTICE is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    exoTICE is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with exoTICE.  If not, see <https://www.gnu.org/licenses/>.
*/
#video_body {
  background-color: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
a, a:visited, a:link {
  color: white;
  text-decoration: none;
}
#video_main {
  flex: 1;
  display: flex;
  align-items: center;
}
.calculs {
  width: 46vw;
  height: 40vw;
  margin: 0 2vw 0 2vw;
}
.calcul {
  display: none;
}
#credits {
  text-align: center;
  font-style: italic;
}
#credits img {
  height: 2em;
  vertical-align: middle;
  padding: 0 1vw;
}
.fig {
  width: 45vw;
  height: 45vw;
  margin-left: 2vw;
  display: none;
}

.ligne {
  stroke: rgb(255, 255, 255);
  stroke-width: 4px;
}
.ligne_corr {
  stroke: rgb(255, 0, 0);
  stroke-width: 4px;
}

.rond_reponse {
  stroke: #ffffff;
  fill: black;
}
.rond_corr {
  stroke: #505050;
  fill: transparent;
  stroke-width: 8px;
}
.nombre, .op, .nombre_reponse, #corrige_tot_val {
  fill: black;
  font-size: 40px;
  font-weight: bold;
}
.nombre_reponse {
  fill: white;
}
#corrige_tot_val {
  fill: red;
}
.oprect {
  fill: #000000;
}
.opimage {
  filter: invert(100%);
}
.touche {
  fill: grey;
  stroke: white;
  cursor: pointer;
}
.ntouche {
  fill: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.itouche {
  cursor: pointer;
}
#corrige, #final {
  display: none;
}
#res_pourcentage {
  fill:white;
  font-size: 18px;
  font-weight: bold;
}

#finfin {
  display: none;
}
#fin_fond {
  fill: #e6e6e6;
}
#fin_tot {
  fill: green;
  font-size: 50px;
  font-weight: bold;
}
#fin_fond, #fin_icone, #fin_tot {
  cursor: pointer;
}

#retour {
  position: absolute;
  top: 1vh;
  right: 1vh;
}
#retour img {
  width: 3vh;
}

#credits #contact {
  height: 1.2em;
  vertical-align: middle;
  padding: 0;
}

@media all and (orientation:portrait)
{
  #video_main {
    flex-direction: column;
  }
  .fig {
    height: 40vh;
    width: 40vh;
    padding: 2vh 0 0 0;
  }
  .calculs {
    width: 60vh;
    max-width: 98vw;
    height: 46vh;
    margin: 2vh 0 0 0;
  }
}