 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--

    Copyright (C) 2020 A.RENAUDIN  Developer

    This file is part of exoTICE.

    exoTICE is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    exoTICE is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with exoTICE.  If not, see <https://www.gnu.org/licenses/>.
*/
#video_body {
  background-color: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
a, a:visited, a:link {
  color: white;
  text-decoration: none;
}
#video_main {
  flex: 1;
  display: flex;
  align-items: center;
}
.calcul {
  display: none;
  width: 40vw;
  height: 20vw;
  margin: 0 5vw 0 5vw;
}
#credits {
  text-align: center;
  font-style: italic;
}
#credits img {
  height: 2em;
  vertical-align: middle;
  padding: 0 1vw;
}
.fig {
  width: 45vw;
  height: 45vw;
  margin-left: 5vw;
}

.ligne {
  stroke: rgb(255, 255, 255);
  stroke-width: 4px;
}
.rond_reponse {
  stroke: #ffffff;
  fill: rgb(0, 0, 0);
}
.rond_corr {
  stroke: #505050;
  fill: transparent;
  stroke-width: 8px;
}
.nombre, .op, .nombre_reponse {
  fill: black;
  font-size: 40px;
  font-weight: bold;
}
.nombre_reponse {
  fill: white;
}
.oprect {
  fill: #000000;
}
.opimage {
  filter: invert(100%);
}

#retour {
  position: absolute;
  top: 1vh;
  right: 1vh;
}
#retour img {
  width: 3vh;
}

#credits #contact {
  height: 1.2em;
  vertical-align: middle;
  padding: 0;
}